section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
  }
  
  .upload-car-container {
      /* max-width: 500px; */
      width: 90%;
      height: 80%;
      overflow-y: scroll;
      margin: 0 auto;
      padding: 20px;
      background-color: #f4f4f4;
      border-radius: 5px;
    }
    
    h2 {
      text-align: center;
    }
  
    .my-form{
      display: flex;
      flex-wrap: wrap;
      gap: 5%;
      justify-content: center;
      align-items: center;
    }
    
    .form-group {
      margin-bottom: 20px;
    }
    
    label {
      display: block;
      font-weight: bold;
    }
    
    input[type="text"],
    input[type="number"],
    input[type="file"] {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }
    
    button[type="submit"] {
      display: block;
      width: 100%;
      padding: 10px;
      background-color: #4caf50;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-weight: bold;
    }
    
    .error-message {
      color: red;
      margin-top: 10px;
    }
  
    ::-webkit-scrollbar{
      size: 0;
    }
    
    